.home-section{
    height: 100%;
    background-color: #e1dfdb;
    padding-top: 4.5rem;
}

.home-section h1{
    text-align: center;
}

.home-section .about p{
    margin: 7.5% 0;
    text-align: center;
}

.home-section .about span{
    font-size: 175%;
    padding: 0 2.5%;
}

.about a i{
    color: black;
}

.home-pic{
    text-align: center;
    padding-bottom: 5%;
    
}

.home-pic img{
    width: 70%;
    border-radius: 50%;
}